.main {
    display: flex;
    gap: 160px;
    background-color: hsla(173, 60%, 72%, 0.3);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-container {
    display: table-column;
    max-width: 99%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.manager img {
    width: 70%;
    max-width: 500px;
    height: auto;
}
